
Parse citation strings. Separate multiple citations by a newline.
<%= form_tag :action => "create" %>
<%= text_area "citation", "string", :cols => 80, :rows => 10
%><br />
<%= submit_tag "Parse!" %>
<%= end_form_tag %> 

