config/database.yml
config/memcached.yml
config/settings.rb
log
test/fixtures/calendars
.DS_Store
db/schema.rb
public/javascripts/*_12*.js
public/stylesheets/*_12*.css
tmp/
*swp
lib/resources/trainingdata/training_data.txt
test/model/testing_data*txt
test/model/testing_data*txt
test/model/training_refs*txt
test/model/training_data*txt
test/model/model
test/model/output.txt
