<html>
<head>CiteParse</head>
<body>
  <h1>Welcome to CiteParse!</h1>
  <p>CiteParse is a web service that parses reference strings into structured citations. </p>
  <p><%= link_to "Parse a citation", :controller => "citations", :action => "parse_string" %></p>
  <p><%= link_to "Read about CiteParse", :controller => "welcome", :action => "about" %></p>
  <p><%= link_to "Learn about our API", :controller => "welcome", :action => "index" %></p>

</body>
</html>
