<div id="footer">
<%= link_to "Parse a citation", :controller => "citations", :action => "parse_string" %>
::
<%= link_to "Home", :controller => "welcome", :action => "index" %>
::
<%= link_to "About", :controller => "welcome", :action => "about" %>
</div>

