<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title>FreeCite</title>
  <%= stylesheet_link_tag "main" %>

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

  <%= @content_for_head %>
</head>

<body>

<div id='wrapper'>

<div id="header">
    <div class="university">
      <a href="http://www.brown.edu/" class="logo"><img src="/images/shield.gif" /></a>
      <a href="http://www.brown.edu/" class="name">Brown University</a>
    </div>
    <span class="site-name">FreeCite</span>
    <span class="slogan">Citation Classifier</span>
  </div>

  <div id='main'>
    <!--content-->
    <div id='content'>
      <%= @content_for_layout %>
    </div>
    <!--/content-->
    <div id="sidebar">
      <ul>
        <li><%= link_to "Home", {:controller => 'welcome', :action => 'index'} -%></li>
        <li><%= link_to "FreeCite API", {:controller => 'welcome', :action => 'api_instructions'} -%></li>
        <li><%= link_to "Feedback", {:controller => 'welcome', :action => 'feedback'} -%></li>
      </ul>
  </div>

</div>

</body>
</html>

